{{!-- jumbotron --}}
<div class="jumbotron">
        <h1 class="display-4">NBA Headlines</h1>
</div>

{{!-- cards for each headline --}}
<section class="container dashboard wrapper">
    <div class="row">
        <div class="col">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</section>